body{
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:  #e8491d 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

.page-title{
    font-size: 30px;
}

/* showcase */
#showcase{
    min-height: 400px;
    background: url(../img/bg.jpg) no-repeat;
    color: white;
    text-align: center;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}
 
/* Newsletter */

#newsletter{
    background: #000000;
    color: white;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1{
    height: 34px;
    background: #e8491d;
    border: 0;
    padding: 0 20px 0 20px;
    color: black;
}

.button_1:hover{
    background: #0277bd;
    color: white;
}

/* boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

#boxes .box img{
    height: 240px;
}

/* footer */

footer{
    padding: 5px;
    margin-top: 10px;
    color: white;
    background: #e8491d;
    text-align: center;
    font-weight: bold ;
}

/* aside */

#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

.dark{
    background: #35424a;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* main-col */
#main-col{
    float: left;
    width: 65%;
}

/* media queries */

@media(max-width: 768px){
    header #branding,
    header nav, 
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    } 

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    #newsletter form input[type='email']{
        width: 100%;
        margin-bottom: 10px;
    }


}

